a {
  font-weight: 500;
  color: #9CC04F;
  text-decoration: underline dashed 1px;
  text-underline-position: under;
}

a:hover {
  color: #5f782b;
}

body {
  margin: 0;
  display: flex;
  background: #333;
}
